/* ----Body & Background---- */
html {
  --green: #78C043;
  --blue: #42C8F4;
  --purple: #AA6DA3;
  --grey: #544D56;
}

html:not([data-seerOf=void]) .void {
  display: none;
}

body {
  background: #000000;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--green);
}

#backGrid {
  position: fixed;
  top: 2vh;
  left: 2vw;
  height: 96vh;
  width: 96vw;
  background-image: url(/images/green-grid2.svg);
  background-size: 40px;
  border-color: rgba(120, 192, 67, 0.75);
  box-shadow: 0 0 1rem 0.01rem rgba(120, 192, 67, 0.75) inset;
  border-style: solid;
  border-width: 0.5px;
  z-index: -10;
}

#particleWeb {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* ---Grid---- */
.grid-container {
  position: fixed;
  top: 2.5vh;
  left: 2.5vw;
  width: 95vw;
  height: 95vh;
  display: grid;
  grid-template-columns: auto 50% auto;
  grid-template-rows: auto auto auto auto auto;
}

/* ----Logos---- */
#logo {
  width: 80%;
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

#Farrago {
  padding: 0.3rem;
}

#deptLogo {
  width: 75%;
  grid-column: 2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
}

#NSCS {
  padding: 0.3rem;
  padding-top: 1rem;
}

/* ----Button ----*/
#enter {
  grid-column: 2;
  grid-row: 4;
}

/* ----Specific Text Sections---- */
.void {
  color: var(--purple);
}

a:link {
  color: var(--blue);
  text-decoration: none;
}

a:visited {
  color: var(--blue);
  text-decoration: none;
}

a:active {
  color: var(--purple);
  text-decoration: none;
}

/* ----All Buttons---- */
button {
  position: relative;
  padding: 0.2rem 0.3rem;
  background: rgba(84, 77, 86, 0.5);
  border-color: var(--green);
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 0.5rem 0.1rem rgba(120, 192, 67, 0.5);
  color: var(--blue);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-transition: background 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

button::-moz-selection {
  background: var(--blue);
  color: #000000;
}

button::selection {
  background: var(--blue);
  color: #000000;
}

button::-moz-selection {
  background: var(--blue);
  color: #000000;
}

button:hover,
button:focus {
  background: rgba(84, 77, 86, 0.25);
  border-color: var(--blue);
}

button:focus {
  color: var(--blue);
  outline: none;
  border-color: var(--blue);
}

button:active {
  background: rgba(84, 77, 86, 0);
  color: var(--purple);
  box-shadow: 0 0 0.5rem 0.1rem rgba(120, 192, 67, 0.5) inset;
}

/* ----Specific Buttons---- */
.enter {
  align-self: center;
  justify-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

/* ----Glitch Transition Animations---- */
.glitchAnimate {
  --glitch-width: 100%;
  --glitch-height: 100%;
  --gap-horizontal: 10px;
  --gap-vertical: 5px;
  --time-anim: 2.5s;
  -webkit-animation-name: glitch-anim-text;
          animation-name: glitch-anim-text;
  -webkit-animation-duration: var(--time-anim);
          animation-duration: var(--time-anim);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: var(--glitch-width);
  height: var(--glitch-height);
  overflow: hidden;
}

@-webkit-keyframes glitch-anim-text {
  0% {
     -webkit-transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
     transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  2% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  4% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  7% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  8% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  9% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  9.9% {
     -webkit-transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
  }
  10%, 100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes glitch-anim-text {
  0% {
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  2% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  4% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  7% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  8% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  9% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  9.9% {
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
  }
  10%, 100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
