/* ----Body & Background---- */
html {
  --scrollbarBG1: rgba(0, 0, 0, 0);
  --scrollbarBG2: rgba(0, 0, 0, 1);
  --green: #78C043;
  --blue: #42C8F4;
  --purple: #AA6DA3;
  --grey: #544D56;
}
html:not([data-seerOf=void]) .void {
  display:none;
}

body {
  background: #000000;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--green);
  background-image: url(http://fatcat-designs.com/images/green-grid2.svg);
  background-size: 40px;
  overflow: hidden;
}

/* ----Headerbox---- */
#header {
  border-color: var(--green);
  border-style: solid;
  border-width: 0.5px;
  padding: 0;
  margin: 0; 
  height: 8.45rem;
  background: transparent;
}
#anim {
  position: absolute;
  background: #000000;
  padding: 0;
  margin-right: 2rem; 
  width: calc(100% - 20px);
  height: 8.45rem;
  z-index: -1;
}
#headContent {
  display:grid;
  grid-template-columns:20rem auto;
  gap:1rem;
  align-items:center;
}
#logo {
  width: 20rem;
  padding: 0.3rem;
  grid-column: 1/1;
}
#nav-bar {
  width: 100%;
  max-width:50rem;
  padding: 0;
  margin: 0;  
  grid-column: 2/2;
  padding: 0.3rem;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.nav-link {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0.3rem;
}

/* ----Main Content Area---- */
main {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;

}

/* ----Individual Content Pages---- */
.page {
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 0.5rem 0.1rem rgba(120, 192, 67, 0.5);
  border-width: 0.5px;
  border-color: var(--green);
  border-style: solid;
  position: relative;
  top: 1rem;
  width: 55vw;
  height: 70vh;
  padding: 0.75rem 2rem 1.5rem 2rem;
  margin: auto;
  overflow-y: scroll;
}
iframe {
  display:block;
  width=560px;
  height=315px;
  box-shadow: 0 0 0.5rem 0.1rem rgba(120, 192, 67, 0.5);
  border-width: 0.5px;
  border-color: var(--green);
  border-style: solid;
  margin: auto;
  align-self: center;
}
/* ----Specific Text Sections---- */
h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--blue);
  text-shadow: 0 0 0.2rem var(--blue);
}
h1::selection {
  background: var(--green); 
  color: #000000;
}
h1::-moz-selection {
  background: var(--green); 
  color: #000000; 
}

h2 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--green);
  text-shadow: 0 0 0.2rem var(--green);
}
h2::selection {
  background: var(--blue); 
  color: #000000;
}
h2::-moz-selection {
  background: var(--blue); 
  color: #000000; 
}

h3 {
  color: var(--green);
  text-shadow: 0 0 0.15rem var(--green);
}
h3::selection {
  background: var(--blue); 
  color: #000000;
}
h3::-moz-selection {
  background: var(--blue); 
  color: #000000; 
}

h4 {
  color: var(--blue);
}
h4::selection {
  background: var(--green); 
  color: #000000;
}
h4::-moz-selection {
  background: var(--green); 
  color: #000000; 
}

a {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: var(--purple);
  text-decoration:none;
  text-shadow: 0 0 0.2rem var(--purple);
}

.void {
  color: var(--purple);
}

/* ----Scrollbars---- */
.side::-webkit-scrollbar {
  width: 0.25rem;
}
.page::-webkit-scrollbar {
  width: 0.75rem;
}
.side, .page {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--green) var(--scrollbarBG1);
}
.side::-webkit-scrollbar-track, .page::-webkit-scrollbar-track{
  margin: 1px;
  background: var(--scrollbarBG1);
}
.side::-webkit-scrollbar-corner, .page::-webkit-scrollbar-corner {
background: var(--scrollbarBG1);
}
.side::-webkit-scrollbar-thumb, .page::-webkit-scrollbar-thumb {
  background-color: var(--green) ;
  border-radius: 6px;
  
}
.side::-webkit-scrollbar-thumb {
  border: 0px solid var(--scrollbarBG1);
}
.page::-webkit-scrollbar-thumb {
  border: 0.25rem solid var(--scrollbarBG2);
}

/* ----All Buttons---- */
button, #submit {
  position: relative;
  padding: 0.2rem 0.3rem;
  background: rgba(84, 77, 86, 0.5);
  border-color: var(--green);
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 0.5rem 0.1rem rgba(120, 192, 67, 0.5);
  color: var(--blue);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  margin-top: 1rem;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;
}
button::selection {
  background: var(--blue); 
  color: #000000;
}
button::-moz-selection {
  background: var(--blue); 
  color: #000000;
}
button:hover,
button:focus {
  background: rgba(84, 77, 86, 0.25);
  border-color: var(--blue);
}
button:focus {
  color: var(--blue);
  outline: none;
  border-color: var(--blue);
}
button:active {
  background: rgba(84, 77, 86, 0);
  color: var(--purple);
  box-shadow: 0 0 0.5rem 0.1rem rgba(120, 192, 67, 0.5) inset;
}

/* ----Specific Buttons---- */
.next {
  float: right;
}
.prev {
  float: left;
}

/* ----Glitch Transition Animations---- */
.glitchAnimate {
  --glitch-width: 100%;
  --glitch-height: 100%;
  --gap-horizontal: 10px;
  --gap-vertical: 5px;
  --time-anim: 2.5s;
  animation-name: glitch-anim-text;
  animation-duration: var(--time-anim);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: var(--glitch-width);
  height: var(--glitch-height);
  overflow: hidden;
}

@keyframes glitch-anim-text {
  0% { 
    transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  2% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  4% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  7% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  8% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  9% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  9.9% {
    transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
  }
  10%, 100% {
    transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/* ----Forms---- */

fieldset {
  border: none;
}

.question {
  margin-top: 2rem;
}

.introOutro {
  line-height: 1.25rem;
}
.introOutro::selection {
  background: var(--blue); 
  color: #000000;
}
.introOutro::-moz-selection {
  background: var(--blue); 
  color: #000000;
}

.submit-button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  float: right;
}

/* ----Checkbox Form Controls---- */
.checkbox-labels {
  display: block;
  line-height: 1.7rem;
}
.checkbox-label::selection {
  background: var(--blue); 
  color: #000000;
}
.checkbox-label::-moz-selection {
  background: var(--blue); 
  color: #000000;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
input[type="checkbox"] {
  position: relative;
  width: 1.5rem;
  height: 1rem;
  border: 1.5px solid var(--green);
  /* Adjusts the position of the checkboxes on the text baseline */ 
  vertical-align: -2px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: var(--green);
  transition: border-color 300ms ease-in-out, background 300ms ease-in-out;
}
input[type="checkbox"]:focus {
  outline: none;
  border: 1.5px solid var(--blue);
  background: rgba(84, 77, 86, 0.25);
}
input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  color: var(--blue);
  font-size: 1.5rem;
  left: 0.1rem;
  top: -0.4em;
  visibility: hidden;
}
input[type="checkbox"]:checked::before {
  /* Use `visibility` to avoid recalculating layout */
  visibility: visible;
}

/* ----Radio Form Controls---- */
.radio-labels, {
  display: block;
  line-height: 2rem;
}
.radio-label::selection {
  background: var(--blue); 
  color: #000000;
}
.radio-label::-moz-selection {
  background: var(--blue); 
  color: #000000;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
input[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1.5px solid var(--green);
  box-shadow: 0 0 0.25rem 0.05rem rgba(120, 192, 67, 0.5) inset;
  /* Adjusts the position of the circles on the text baseline */
  vertical-align: -0.3rem;
  outline: none;
}
input[type="radio"]::before {
  display: block;
  content: " ";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--blue);
  font-size: 1.2rem;
  transform: translate(0.275rem, 0.275rem) scale(0);
  transform-origin: center;
  transition: all 0.3s ease-in;
}
input[type="radio"]:checked::before {
  transform: translate(0.275rem, 0.275rem) scale(1);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}

/* ----Hidden Form Textfields---- */
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 1rem;
  visibility: hidden;

  input[type="radio"]:checked ~ & {
    opacity: 1; 
    max-height: 5rem;
    padding: 0 0 0 1.75rem;
    overflow: visible;
    visibility: visible;
  }
}

/* ----Text Form Controls---- */
.textbox-label {
  line-height: 1.4rem;
}
.textbox-label::selection {
  background: var(--blue); 
  color: #000000;
}
.textbox-label::-moz-selection {
  background: var(--blue); 
  color: #000000;
}

input[type=text], input[type=number], input[type=email] {
  width: 80%;
  padding: 0.5rem;
  border-color: var(--green);
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  box-shadow: 0 0 0.5rem 0.1rem rgba(120, 192, 67, 0.5) inset;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--purple);
  background: url(http://fatcat-designs.com/images/static%20tile.png);
}
input::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: rgba(66, 200, 244, 0.75);
}
input::selection {
  background: var(--green); 
  color: #000000;
}
input::-moz-selection {
  background: var(--green); 
  color: #000000;
}

/* ----Small Screens---- */
@media screen and (max-width: 700px) {
  #gridContainer {
    position: fixed;
    top: 2.5vh;
    left: 2.5vw;
    width: 95vw;
    height: 95vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    grid-template-rows: auto auto auto auto;
    row-gap: 0;
    grid-template-areas: 
      "header header"
      "logo dept"
      "main main"
      "sideline sideline";
    align-items: stretch;
  }
}

/* Flickering */
#date1 {
  animation: flicker 2s infinite;
  animation-direction: alternate;
}
#date2 {
  animation: flicker2 1.5s infinite;
  animation-direction: alternate;
}
#date3 {
  animation: flicker 2.1s infinite;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes flicker{
0% {opacity:0;}
  2%{transform:translateX(0px) skew(0deg);}
  3%{text-shadow:7px 7px 0px red;}
  6%{text-shadow:-9px 4px 0px var(--blue); transform:translate(4px,-10px) skewX(3240deg);}
  7%{text-shadow:3px -4px 0px green;}
  8%{text-shadow:0px 0px 3px var(--green); transform:translate(0px,0px) skewX(0deg);}
9% {opacity:0;}
10% {opacity:.5;}
13% {opacity:0;}
20% {opacity:.5;}
25% {opacity:1;}
30% {opacity:0;}
39% {opacity:0;}
40% {opacity:.5;}
43% {opacity:0;}
50% {opacity:.5;}
  53%{transform:translateX(0px) skew(0deg);}
54% {opacity:1;}
  55%{transform:translate(-2px,6px) skew(-5530deg);}
  56%{text-shadow:0px 0px 3px var(--green); transform:translate(0px,0px) skew(0deg);}
  57%{text-shadow:7px 7px 0px red; transform:translate(4px,-10px) skew(-70deg);}
60% {opacity:0;}
  62%{text-shadow:3px -4px 0px green; transform:translate(0px,20px) skew(0deg);}
  63%{text-shadow:0px 0px 3px var(--green); transform:translate(4px,-2px) skew(0deg);}
  65%{transform:translate(1px,3px) skew(-230deg);}
  67%{transform:translate(-7px,2px) skew(120deg);}
  68%{transform:translate(0px,0px) skew(0deg);}
69% {opacity:0;}
70% {opacity:.5;}
73% {opacity:0;}
  79%{transform:translate(-2px,6px) skew(5530deg);}
  80%{text-shadow:0px 0px 3px var(--green); transform:translate(0px,0px) skew(0deg);}
81% {opacity:.5;}
  82%{text-shadow:7px 7px 0px red; transform:translate(4px,-10px) skew(70deg);}
85% {opacity:1;}
}
@-webkit-keyframes flicker2{
0% {opacity:0;}
  2%{transform:translateX(0px) skew(0deg);}
  3%{text-shadow:7px 7px 0px red;}
5% {opacity:0;}
  6%{text-shadow:-9px 4px 0px var(--blue); transform:translate(4px,-10px) skewX(3240deg);}
  7%{text-shadow:3px -4px 0px green;}
  9%{text-shadow:0px 0px 3px var(--green); transform:translate(0px,0px) skewX(0deg);}
12% {opacity:.5;}
13% {opacity:0;}
19% {opacity:.5;}
23% {opacity:1;}
33% {opacity:0;}
37% {opacity:0;}
41% {opacity:.5;}
45% {opacity:0;}
51% {opacity:.5;}
  54%{transform:translateX(0px) skew(0deg);}
  55%{transform:translate(-2px,6px) skew(-5530deg);}
  56%{text-shadow:0px 0px 3px var(--green); transform:translate(0px,0px) skew(0deg);}
  57%{text-shadow:7px 7px 0px red; transform:translate(4px,-10px) skew(-70deg);}
58%{text-shadow:0px 0px 3px var(--green); transform:translate(0px,0px) skew(0deg);}
59% {opacity:1;}
  62%{text-shadow:3px -4px 0px green; transform:translate(0px,20px) skew(0deg);}
  63%{text-shadow:0px 0px 3px var(--green); transform:translate(4px,-2px) skew(0deg);}
64% {opacity:0;}
  65%{transform:translate(1px,3px) skew(-230deg);}
  67%{transform:translate(-7px,2px) skew(120deg);}
  68%{transform:translate(0px,0px) skew(0deg);}
72% {opacity:0;}
76% {opacity:.5;}
78% {opacity:0;}
  79%{transform:translate(-2px,6px) skew(5530deg);}
  80%{text-shadow:0px 0px 3px var(--green); transform:translate(0px,0px) skew(0deg);}
  82%{text-shadow:7px 7px 0px var(--blue); transform:translate(4px,-10px) skew(70deg);}
84% {opacity:.5;}
90% {opacity:1;}
}
